@model Core.Models.Catalog.VM.CatalogViewModel

@{
    ViewBag.Title = "Catalog";
}

<partial name="Partials/Catalog/_Filter" model="Model.BookFilter"/>

<div class="container vh-84 mt-3">
    <partial name="/Views/Shared/Partials/_SuccessAlert.cshtml"/>
    <div class="card">
        <div class="card-body">
            <div class="row mt-3 g-2">
                <div class="offset-md-8 col-md-2 text-end mt-md-0">
                    @if (Model.IsEmployee)
                    {
                        <a asp-action="Add" asp-controller="Book" class="btn btn-primary w-100">Add Book</a>
                    }
                </div>
                <div class="col-md-2 text-end mt-3 mt-md-0">
                    <a class="btn btn-secondary w-100" data-bs-toggle="offcanvas" data-bs-target="#catalogFilter" aria-controls="catalogFilter">Filters</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered mt-3">
                    <tr class="text-center">
                        <th>Title</th>
                        <th>Quantity</th>
                        <th>Author</th>
                        <th>Year</th>
                        <th>Genre</th>
                        @if (Model.IsEmployee)
                        {
                            <th>Options</th>
                        }
                    </tr>
                    @foreach (var book in Model.Books)
                    {
                        <tr>
                            <td>
                                <a asp-action="Detail" asp-controller="Book" asp-route-id="@book.Id">@book.Title</a>
                            </td>
                            <td class="text-center">@book.Quantity</td>
                            <td class="text-center">@book.Author.FirstName @book.Author.LastName</td>
                            <td class="text-center">@book.PublicationDateT.Year</td>
                            <td class="text-center">@book.Genre.Name</td>
                            @if (Model.IsEmployee)
                            {
                                <td class="text-center">

                                    <a asp-action="Delete" asp-controller="Book" asp-route-id="@book.Id" class="btn btn-danger btn-sm w-100">Delete</a>
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/selectGenreList.js"></script>
}